[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
recnetlogin = {ref = "aeeb7091c16f121190a30585f3690b67c5c003e3", git = "https://github.com/Jegarde/RecNet-Login.git"}
flask = "*"

[dev-packages]

[requires]
